:root {
  --font-metal-mania: "Metal Mania", system-ui;
  /* colors */
  --primary-color: #e6aa68;
  --secondary-color: #4f3824;
  --tertiary-color: #d33e43;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-metal-mania);
  font-size: var(--font-base);
  color: var(--secondary-color);
  background-color: var(--light-grey);
}
img {
  max-width: 80%;
  transition: max-width 0.3s ease;
}
/* header styling */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-family: var(--font-metal-mania);
  font-size: 30px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 30px;
}

.navbar a {
  font-size: var(--large-font);
  text-decoration: none;
  color: var(--secondary-color);
}

/* divider styling */
.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* heading styling */
h1 {
  color: var(--tertiary-color);
  text-align: center;
}

/* Top rated board game  */
#gameList {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#topBoardGame {
  border: 3px solid var(--primary-color);
  max-width: 300px;
  min-height: 400px;
  flex: 1 1 300px;
  box-sizing: border-box;
  padding: 0%;
}
.gameImage {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
  transform: scale(1); /* Default size */
}

.gameImage:hover {
  transform: scale(1.1); /* Enlarges the image by 10% */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow effect for emphasis */
}

/* individual board game pages */
.indivBoardGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.indivBoardGame p {
  text-align: center;
  max-width: 500px;
}
/* search game */
#searchContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.gameInventory {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.searchBoardGame {
  border: 3px solid var(--primary-color);
  max-width: 300px;
  min-height: 400px;
  flex: 1 1 300px;
  box-sizing: border-box;
  padding: 0%;
}
.gameImage {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
  transform: scale(1); /* Default size */
}

.gameImage:hover {
  transform: scale(1.1); /* Enlarges the image by 10% */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow effect for emphasis */
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.pagination button{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}
/* footer styling */
.footer {
  text-align: center;
}
