:root {
  --font-metal-mania: "Metal Mania", system-ui; 
  /* colors */
  --primary-color: #E6AA68 ;
  --secondary-color: #4F3824;
  --tertiary-color: #D33E43;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;  

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-metal-mania);
  font-size: var(--font-base);
  color: var(--secondary-color);
  background-color: var(--light-grey);
}
img {
  max-width: 100%;
}
/* header styling */
header {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  padding: 0 10px;
}

.logo {
  display: flex;
  align-items: center;     
  justify-content: center; 
  width: 100%;
  margin-bottom: 10px;     
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;      
}

.logo a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-family: var(--font-metal-mania);
  font-size: 30px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly; 
  
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 30px;
}

.navbar a {
  font-size: var(--large-font);
  text-decoration: none;
  color: var(--secondary-color);
}

/* divider styling */
.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* heading styling */
h1 {
  color: var(--tertiary-color);
  text-align: center;
}
/* footer styling */
.footer{
  text-align: center;
}